:root {
  --primay: black;
  --bg-primay: white;

  --link: #2a0b0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #181717;
}

h1 {
  font-size: calc(25px + 2vmin);
  margin: 0;
  text-align: center;
}
